<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>941226019975-404rug3ct7eirm5ispnjaqd7homvq657.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.941226019975-404rug3ct7eirm5ispnjaqd7homvq657</string>
	<key>API_KEY</key>
	<string>AIzaSyBPgOrGOmzdFczOaCuiJVUxm9I0KUr6MwE</string>
	<key>GCM_SENDER_ID</key>
	<string>941226019975</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterNotesApp</string>
	<key>PROJECT_ID</key>
	<string>notes-f5e39</string>
	<key>STORAGE_BUCKET</key>
	<string>notes-f5e39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941226019975:ios:be696a9bbc53802a067c22</string>
</dict>
</plist>